[Unit]
Description=KOCETI CAN Launcher (%i)
#Requires=network.target network-online.target
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/raspi-can
ExecStart=/home/%i/raspi-can/launch.sh
Restart=always
RestartSec=5
Environment=HOME=/home/%i

[Install]
WantedBy=network.target

